@import "base.scss";
@import "home.scss";
@import "noticia-media.scss";

* { box-sizing: border-box; }
.banner { height: 80vh } 
.media { height: 80vh; }

.banner {
  background: url(../../assets/imgs/banner-mike.jpg);
  background-size: cover;
  background-position: center;
}

.quote {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  
  blockquote{
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 1em;
    font-size: 1.5em;
    height: inherit;
    &:before {
      display: absolute;
      content: "\201C";
      font-size: 2em;
      color: #7a7a7a;
    }
    @media (min-width: 38em) { font-size: 2em; }
  }
  cite{
      font-size: 1em;
      float: right;
      line-height: 1em;
      margin: 20px;
      @media(min-width: 38em) { font-size: 1.2em; }
    }
}

.content-wrapper 
{ 
  padding: 0 30px;
  @media(min-width: 38em) { padding: 0 60px; } 

}


.nav {
  /*background: #FF5722;*/
  background: #FFF;
  position: fixed;
  
  h3{
    display: inline-block;
    margin-left: 80px;
    font-size: 2em;
    text-align: center;
    border-bottom: 1px solid #141414;
    color: #141414;
  }
  ul { list-style: none; padding: 0; margin-top: 100px; }
  a{
    font-size: 1.5em;
    display: block;
    color: #727272;
    padding: 20px;
    text-align: center;
    font-weight: 700;
    &:hover {
      /*background: #fff;*/
      color: #141414;
    }

    &.active{
      color: #141414;
      text-decoration: underline;
    }
  }



}

.open-menu-btn{
  position: relative;
  display: block;
  float: left;
  left: 80px;
  top: 10px;
  margin: 20px;
  background: url(../../assets/icons/btn-open.png) no-repeat;
  background-size: cover;
  width: 42px;
  height: 42px;
  cursor: pointer;
  transition: left 0.3s ease-in-out;
  &.btn--push-to-right{
    left: 240px;
  }
  &.btn--closed {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.4s, opacity 0.4s, left 0.25s ease-in-out;
  }

}

.close-menu-btn{
  position: absolute;
  /*display: inline-block;*/
  /*float: right;*/
  /*margin: 20px;*/
  right: -15px;
  top: 30px;
  background: url(../../assets/icons/btn-close.png) no-repeat;
  background-size: cover;
  width: 42px;
  height: 42px;
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
  &.btn--closed {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-in-out;
  }
  
}

.nav--left {
  left: -240px;

  &.nav-open--left{
    left: 0px;
  }
}

.nav--top {
  top: -240px;

  &.nav-open--top{
    left: 0px;
  }
}


.nav--vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

.nav--horizontal {
  height: 240px;
  width: 100%;
  z-index: 1000;
}

/* push classes aplied to the body */
.nav--push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

/*.nav--push-to-right {
  left: 240px;
}*/

.nav--push-to-bottom {
  top: 240px;
}

/* transitions */
.nav, 
.nav--push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-height: 26.375em){
  .nav--left,
  .nav--push-to-left {
    left: -190px;
  }
}